{% extends "base.html" %}
{% set active_page = "admin" %}
{% block body %}
<body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">
	    <div class="container">
	        <br/>
	        <h2 style="text-decoration: underline;">Administrator</h2>
	        <br/>
	        <h3 class-"mt-5">Step 1: Enter Target Site Details</h3>
	        <form action="/addImages" method="POST">
	            <div class="form-group">
	                <label>Name: </label>
	                <input type = "text" class="form-control" name = "name" />
                </div>
                <div class="form-group">
	                <label>Base URL:</label> 
	                <input type = "text" class="form-control" name = "base_url" /></p>
		            
	            </div>
	            <input type="submit" class="btn btn-primary" value="Generate Links">
	            
	        </form>
	        
	        <br/>
	        <div>
	            {% if generateSuccess is defined and generateSuccess|length %}
                    <div class="alert alert-success" role="alert">
                      {{ generateSuccess }}
                    </div>
                {% elif generateFail is defined and generateFail|length %}
                    <div class="alert alert-danger" role="alert">
                      {{ generateFail }}
                    </div>
                {% elif noresults is defined and noresults|length %}
                    <div class="alert alert-info" role="alert">
                        {{ noresults }}
                    </div>
                {% endif %}
            </div>
	    </div>
	    
	    <div class="container">
	        <h3 class-"mt-5">Step 2: Select Target Site Name</h3>
            {% if imglist|length > 0%}
	            <form action="/getImages" method="GET">
	                <div class="dropdown">
		                <select name="sitename">
		                    <option value="All">All</option>
		                {% for name in imglist %} 
		                    {% if name == sitemode %}
		                        <option value="{{name}}" selected="selected">{{name}}</option>
	                        {% else %}
	                            <option value="{{name}}" >{{name}}</option>
	                        {% endif %}
		                {% endfor %}
		                </select>
		                <br><br>
		                <input type="submit" class="btn btn-primary" value="Configurate Attacker Site">
	                </div>
	            </form>
            {% else %}
                <p>No sites found. Please refer to step 1.</p>
            {% endif %}
            <br/>
	        {% if isConfig %}
	            <div class="alert alert-success" role="alert">
	                Successfully configured attacker site.
                </div>
	        {% endif %}
	        
	        <div>
                <a class="btn btn-info" href="/experiment">Show Results</a>
	            <br/><br/><br/>
            </div>
	    </div>
	</main>
</body>{% endblock %}
{% block footer %}Cross-site Timing Attack Administrator Panel{% endblock %}
