<!doctype html>

<html>
<head>
</head>
<body>
	<h2>Admin Pannel</h2>
	<p>The select element defines a drop-down list:</p>

	<form action="/admin">
		<select name="webpages">
		<option value="webpage1">Web Page 1</option>
		<option value="webpage2">Web Page 2</option>
		<option value="webpage3">Web Page 3</option>
		<option value="webpage4">Web Page 4</option>
		</select>
		<br><br>
		<input type="submit">
	</form>

	
	<a href="/results">Click here to view results</a>
</body>
</html>
