{% extends "base.html" %}
{% set active_page = "experiment" %}
{% block body %}
   <head>
      <title>Google Charts Tutorial</title>
      <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
      <script type = "text/javascript">
         google.charts.load('current', {packages: ['corechart']});     
      </script>
   </head>
   <body>
		<div id = "scatterplot" style = "width: 550px; height: 400px; margin: 0 auto"></div>
		 <select id = "threshold" name="Percentage Threshold:" onchange="changeURL()">
			<option value="0">0</option>
			<option value="10">10</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option value="40">40</option>
			<option value="50">50</option>
			<option value="60">60</option>
			<option value="70">70</option>
			<option value="80">80</option>
			<option value="90">90</option>
		</select>
		<div id = "barchart" style = "width: 550px; height: 400px; margin: 0 auto"></div>
   </body>
	<script language = "JavaScript">
		var scatterDataURL = '/analysis/scatterplot/0';
		var barDataURL = '/analysis/barchart/0';
		var scatterData = [];
		var barData = [];

		function changeURL() {
			var e = document.getElementById("threshold");
			scatterDataURL = 'analysis/scatterplot/' + e.options[e.selectedIndex].value;
			barDataURL = 'analysis/barchart/' + e.options[e.selectedIndex].value;
			getScatterData();
			getBarData();
		}

		function drawScatterChart() {
			// Define the chart to be drawn.
			var data = new google.visualization.DataTable();
			data.addColumn('number', 'ID');
			data.addColumn('number', 'Percentage Difference');
			data.addRows(scatterData);
			   
			// Set chart options
			var options = {
			   'title':'Percentage Difference',
			   'width':550,
			   'height':400,
			   'legend': 'none'
			};

			// Instantiate and draw the chart.
			var chart = new google.visualization.ScatterChart(document.getElementById('scatterplot'));
			chart.draw(data, options);
		}

         function drawBarChart() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable(barData);

            var options = {title: 'Website Visited:', isStacked:true};  

            // Instantiate and draw the chart.
            var chart = new google.visualization.BarChart(document.getElementById('barchart'));
            chart.draw(data, options);
         }

		const getScatterData = async () => {
			const response = await fetch(scatterDataURL);
			const json = await response.json();
			scatterData = json;
			google.charts.setOnLoadCallback(drawScatterChart);
		}

		const getBarData = async () => {
			const response = await fetch(barDataURL);
			const json = await response.json();
			barData = json;
			google.charts.setOnLoadCallback(drawBarChart);
		}

		getScatterData();
		getBarData();
	</script>
{% endblock %}
{% block footer %}Cross-site Timing Attack Analysis{% endblock %}
</html>
